# Object files and binaries from go.
*.[568]

# Library files.
*.a

# Any file prefixed by an underscore.
*/_*

# System
.*.swp
.DS_Store

# The mockgen binary.
mockgen/mockgen

# Editors
.vscode
.idea

# vendor directory used for IDEs
/vendor
